h1{
    color:white;
    background-color:navy;
    text-align: center;
    font-size: 48px;
    height: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

h2{
    color:navy;
    font-size: 30px;
    height: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3{
    color:navy;
    font-size: 25px;
    height: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    color:black;
    text-align: left;
    font-size: 25px;
    height: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}